$brand-primary: #10375c;
$brand-primary-dark: #0d2c4a;
$brand-secondary: #FF5722;
$brand-secondary-dark: #dd2c00;
$black-basic: #000000;
$black-title: #222831;
$white-basic: #ffffff;
$gray-1: #9a9a9a;
$gray-2: #6a6a6a;
$gray-3: #dfdfdf;
$gray-4: #f8f8f8;
$titles: rgb(34, 40, 49);
$footer: #0D2C4A;

%orangebox {
    background-color: $brand-secondary;
    color: $white-basic;
}

%box-shadow {
    box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Lato/Lato-Regular.woff) format('woff'),
        url(../fonts/Lato/Lato-Regular.woff2) format('woff2')
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Lato/Lato-Medium.woff) format('woff'),
        url(../fonts/Lato/Lato-Medium.woff2) format('woff2')
}

@font-face {
    font-family: 'Lato';
    font-style: bold;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/Lato/Lato-Bold.woff) format('woff'),
        url(../fonts/Lato/Lato-Bold.woff2) format('woff2')
}

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Lora/Lora-Regular.woff) format('woff'),
        url(../fonts/Lora/Lora-Regular.woff2) format('woff2')
}

@font-face {
    font-family: 'Lora';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Lora/Lora-Bold.woff) format('woff'),
        url(../fonts/Lora/Lora-Bold.woff2) format('woff2')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Roboto/Roboto-Regular.woff) format('woff'),
        url(../fonts/Roboto/Roboto-Regular.woff2) format('woff2')
}


/* Общие стили */
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

h2,
h3 {
    font-family: inherit;
    font-style: bold;
    font-size: 40px;
    line-height: 51px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

blockquote {
    margin: 0;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
    padding: 0 10px;
}

.page {
    height: 100%;
}

.page-body {
    margin: 0;
    font-family: 'Lato', 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $brand-primary;
    background-color: $white-basic;

    min-height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
    -ms-grid-rows: min-content 1fr min-content;
    grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
    grid-template-rows: min-content 1fr min-content;
}

section {
    margin-bottom: 112px;
}

.section-title {
    grid-row: 1 / 2;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: $titles;
    margin-bottom: 8px;
    display: flex;
    align-items: center;

    span {
        width: 73px;
        height: 2px;
        background-color: $titles;
        margin-left: 15px;
        display: inline-block;
    }
}

.section-subtitle {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    margin-bottom: 24px;
}

.btn-accent {
    display: block;
    min-width: 72px;
    height: 72px;
    color: $white-basic;
    background-image: url(../img/icons/arrow-right-mini.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $brand-secondary;

    &:hover {
        background-color: $brand-secondary-dark;
    }

    &:active {
        @extend %box-shadow;
    }
}

.btn-more {
    font-size: 16px;
    line-height: 26px;
    color: $brand-secondary;
    background-color: transparent;
    padding-right: 32px;
    white-space: nowrap;
    position: relative;

    &::after {
        content: '';
        width: 16px;
        height: 10px;
        position: absolute;
        top: calc(50% - 5px);
        right: 0;
        background-image: url(../img/icons/arrow-down-mini-accent.png);
        transform: rotate(270deg);
    }

    &:hover {
        text-shadow: 0 0 10px $brand-secondary;
        color: $brand-secondary;
    }
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem $brand-secondary;
}

.swiper-button-next,
.swiper-button-prev {
    width: 92px;
    height: 26px;
    background-repeat: no-repeat;

    &::after {
        display: none;
    }
}

.swiper-button-next {
    background-image: url(../img/icons/swipe-next.png);

    &.swiper-button-disabled {
        background-image: url(../img/icons/swipe-next-disabled.png);
    }
}

.swiper-button-prev {
    background-image: url(../img/icons/swipe-prev.png);

    &.swiper-button-disabled {
        background-image: url(../img/icons/swipe-prev-disabled.png);
    }
}



/* Хедер */
.header {
    margin-top: 61px;
    margin-bottom: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        font-size: 16px;
        font-weight: bold;
        white-space: nowrap;
    }

    .navbar-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: 20px;
    }

    .header-logo {
        padding: 0;
        display: flex;
        align-items: center;
    }

    .btns {
        display: flex;
    }
}

.btn-login {
    color: $brand-secondary;
    line-height: 19px;
    padding: 12px 24px;

    &:hover {
        @extend %box-shadow;
        color: $black-basic;
    }

    &:active {
        color: $gray-2;
    }
}

.btn-sighnup {
    line-height: 19px;
    @extend %orangebox;
    @extend %box-shadow;
    padding: 12px 24px;

    &:hover {
        background-color: $brand-secondary-dark;
        color: $black-basic;
    }

    &:active {
        background-color: $brand-secondary-dark;
        color: $gray-2;
    }
}

.navbar-toggler-icon {
    background-image: url(../img/icons/toggler.png);
}

.navbar-expand-lg .navbar-nav {
    .nav-link {
        line-height: 28px;
        padding: 12px 20px;
        color: $black-basic;

        &:hover {
            @extend %box-shadow;
            color: $black-basic;
        }

        &:active {
            color: $brand-secondary-dark;
        }

        &.active {
            color: $brand-secondary;
        }
    }
}


/* Introducing */
.introducing {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 2fr 1fr;
    row-gap: 8px;
    margin-bottom: 33px;

    p {
        grid-row: 2 / -1;
        grid-column: 2 / -1;
        font-size: 20px;
        line-height: 30px;
        color: $gray-2;
        margin-top: 10px;
    }
}

.main-title {
    grid-row: 2 / -1;
    font-family: 'Lora';
    font-weight: bold;
    font-size: 52px;
    line-height: 67px;
    color: $brand-primary;
    padding-right: 15px;

    .title-accent {
        color: $brand-secondary-dark;
    }
}

.introducing-slider {
    width: 100%;
    max-height: 600px;

    img {
        width: 100%;
    }

    .workspace-accent {
        width: 72%;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .swiper-pagination-bullet {
        width: 16px;
        height: 4px;
        background-color: $white-basic;
        opacity: 0.5;
        border-radius: 0;

        &-active {
            width: 40px;
            background-color: $brand-secondary;
            opacity: 1;
        }
    }
}


/* Spaces */
.spaces {
    display: flex;
    flex-direction: column;
}

.spaces-about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    margin-bottom: 56px;

    .spaces-title {
        grid-column: 1 / 5;
        font-family: 'Lora';
        font-weight: 700;
        font-size: 40px;
        line-height: 51px;
    }

    p {
        grid-column: 5 / 10;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: $gray-1;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.space-cards-item {
    text-align: center;

    img {
        width: 100%;
    }
}

.space-view {
    position: relative;
    margin-bottom: 25px;
}

.space-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: $black-title;
}

.space-link {
    position: absolute;
    bottom: 0;
    left: 0;
}

.space-accent {
    background-color: $brand-primary;
    color: $white-basic;
    padding: 144px 50px 193px;
    position: relative;

    &-title {
        font-family: 'Lora';
        font-weight: 400;
        font-size: 32px;
        line-height: 41px;
        color: $white-basic;
    }

    .space-link {
        padding: 25px 73px 53px;
        background-position: 90%;
    }
}

.space-cards-slider {
    width: 100%;
    padding-bottom: 84px;
    padding-top: 78px;
    margin-top: -100px;

    .swiper-scrollbar {
        width: 160px;
        left: calc(50% - 80px);
        bottom: 44px;
        border-radius: 0;

        &-drag {
            background-color: $brand-secondary-dark;
            border-radius: 0;
        }
    }

    .swiper-pagination {
        font-size: 18px;
        line-height: 28px;
        color: $black-title;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        &-total {
            opacity: 0.5;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 26px;
    }

    .swiper-button-prev {
        left: auto;
        right: 114px;
    }
}

/* why-frispes */
.why-frispes {
    display: flex;
    align-items: center;
    gap: 71px;
}

.reason {
    width: 50%;
    order: 1;
    background-color: $brand-primary;
    color: $white-basic;
    padding: 54px;

    .section-title {
        color: $white-basic;
        margin-bottom: 8px;

        span {
            background-color: $white-basic;
        }
    }
}

.infographic {
    width: 50%;
}

.infographic-list {
    column-count: 2;
    column-gap: 100px;

}

.infographic-item {
    margin-bottom: 64px;
    padding-left: 49px;
    position: relative;

    &:nth-child(3n+3) {
        margin-bottom: 0;
    }

    .numbers {
        font-family: 'Lora';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 41px;
        margin-bottom: 8px;
    }

    .label {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $gray-1;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    background-image: url(../img/icons/whyfrispes.png);
    background-repeat: no-repeat;
}

.rooms {
    background-position: 0 0;
}

.countries {
    background-position: 0 -160px;
}

.mentors {
    background-position: 0 -322px;
}

.eventspaces {
    background-position: 0 -482px;
}

.internet {
    background-position: 0 -647px;
}

.communities {
    background-position: 0 -807px;
}


/* Facilities */
.facilities {
    .section-subtitle {
        margin-bottom: 56px;
    }
}

.facilities-list {
    padding-right: 65%;
    background-image: url(../img/facilities_3.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 65%;
}

.facilities-item {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: $titles;
    padding: 24px;
    margin-right: 88px;
    cursor: pointer;

    &:hover {
        @extend %box-shadow;
    }

    &.active {
        background-color: $brand-secondary;
        color: $white-basic;
        @extend %box-shadow;
    }
}

/* Frispes-gallery */
.frispes-gallery {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.frispes-title-grid {
    padding-left: 50%;
}

.gallery {
    margin-top: -120px;
    width: 100vw;
    overflow: visible;
    &.swiper {
        width: 100%;
        max-height: 606px;
    }

    .swiper-button-next {
        top: 180px;
        left: calc(50% + 130px);
    }

    .swiper-button-prev {
        top: 180px;
        left: calc(50% + 10px);
    }

    img {
        aspect-ratio: 510 / 350;
        object-fit: cover;
    }

    .swiper-slide-active img {
        height: 606px;
        aspect-ratio: 606 / 350;
    }

    .swiper-wrapper {
        align-items: flex-end;
    }

    .swiper-slide {
        padding-top: 256px;
    }

    .swiper-slide-active {
        padding-top: 0;
    }
}


/* Frispes-users */
.frispes-users {
    p {
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: $gray-1;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 56px;
    }
}

.users-title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    margin-bottom: 24px;

}

.users-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 34px;

    li {
        padding: 13px;
    }

    li:hover {
        @extend %box-shadow;
    }
}

/* Reviews */
.reviews {
    margin-bottom: 112px;
}

.reviews-slider {
    width: 100%;
    padding-top: 78px;
    padding-bottom: 32px;
    position: relative;

    .swiper-slide {
        height: auto;
    }

    .swiper-scrollbar {
        width: 160px;
        left: calc(50% - 80px);
        bottom: 0;
        border-radius: 0;
        position: absolute;

        &-drag {
            background-color: $brand-secondary-dark;
            border-radius: 0;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 26px;
    }

    .swiper-button-prev {
        left: 60%;
        right: 114px;
    }

    .swiper-button-next {
        left: 70%;
    }
}

.reviews-item {
    max-width: 445px;
    background-color: $brand-primary;
    color: $white-basic;
    padding: 47px 40px 35px;

    &:first-child .review-name::before {
        background-image: url(../img/customers/customer1.png);
    }

    &:nth-child(2) .review-name::before {
        background-image: url(../img/customers/customer2.png);
    }

    &:nth-child(3) .review-name::before {
        background-image: url(../img/customers/customer3.png);
    }
}

.review-block {
    display: grid;
    grid-template-rows: 2fr 1fr;
    height: 100%;
}

.review-text {
    font-size: 16px;
    line-height: 26px;
    grid-row: 1 / 2;
}

.review-name {
    padding-left: 72px;
    font-size: 18px;
    line-height: 28px;
    grid-row: 2 / -1;
    margin-top: auto;
    position: relative;

    span {
        font-size: 16px;
        line-height: 26px;
        display: block;
    }

    &::before {
        content: '';
        width: 56px;
        height: 56px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 56px 56px;
    }
}


/* Question */
.questions {
    margin-bottom: 39px;

    .section-subtitle {
        text-align: center;
    }

    .btn-more {
        text-align: center;
    }
}

.question-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 64px;
}

.question-item {
    box-shadow: 0 0 24px 0 rgba(223, 223, 223, 0.5);
    text-align: center;
    position: relative;

    a {
        display: block;
        padding: 42px 40px 63px;
        color: $black-basic;
        font-family: 'Lora';
        font-weight: 400;
        font-size: 26px;
        line-height: 33px;
    }

    &::after {
        content: '';
        width: 64px;
        height: 48px;
        background-color: $brand-secondary;
        background-image: url(../img/icons/arrow-down-mini.png);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: calc(100% - 24px);
        left: calc(50% - 32px);
    }

    &:hover {
        background-color: $brand-secondary;

        a {
            color: $white-basic;
        }

        &::after {
            background-color: $white-basic;
            background-image: url(../img/icons/arrow-down-mini-accent.png);
            box-shadow: 0 0 34px 0 $brand-secondary;
        }
    }
}

.question-item-accent {
    background-color: $brand-secondary;

    a {
        color: $white-basic;
    }

    &::after {
        background-color: $white-basic;
        background-image: url(../img/icons/arrow-down-mini-accent.png);
        box-shadow: 0 0 34px 0 $brand-secondary;
    }
}

.more-link {
    text-align: center;
}


/* News */
.news {
    background-color: $gray-4;
    padding: 60px 0 96px;
    margin-bottom: 0;

    .section-subtitle {
        margin-bottom: 0;
    }
}

.news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
}

.news-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.news-item {
    background-color: $white-basic;
    position: relative;

    &:hover {
        box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.15);
    }

    &::before {
        content: '';
        width: 100%;
        height: 204px;
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &:nth-child(2)::before {
        background-image: url(../img/news/minimal.png);
    }

    &:nth-child(3)::before {
        background-image: url(../img/news/productivity_increase.png);
    }

    &:nth-child(4)::before {
        background-image: url(../img/news/morning_roгtine.png);
    }

    &:nth-child(5)::before {
        background-image: url(../img/news/co-working_space.png);
    }
}

.news-text {
    padding: 218px 16px 16px;

    display: block;

    blockquote {
        font-family: 'Lora';
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: $black-title;
    }

    cite {
        font-size: 16px;
        line-height: 26px;
        color: $gray-1;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.news-main {
    grid-column: 1 / 3;
    padding-left: 50%;
    padding-top: 0;
    position: relative;

    &::after {
        content: '';
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../img/news/primary_news.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
    }

    &-text {
        padding: 33px;
        display: block;
    }

    &-title {
        font-family: 'Lora';
        font-weight: 700;
        font-size: 32px;
        line-height: 41px;
        color: $black-title;
    }

    blockquote,
    span {
        font-size: 16px;
        line-height: 26px;
        color: $gray-1;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    blockquote {
        margin-bottom: 16px;
    }

    cite {
        font-size: 18px;
        line-height: 28px;
        color: $brand-primary;
        padding-left: 79px;
        position: relative;

        span {
            padding-left: 79px;
            display: block;
        }

        &::before {
            content: '';
            width: 56px;
            height: 56px;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            background-image: url(../img/news/primary_speaker.png);
            background-position: center;
            background-size: cover;
        }
    }
}





.footer {
    background-color: $footer;
    padding: 56px 0 102px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.footer__logo {
    margin-bottom: 16px;
}

.about {
    display: flex;
    flex-direction: column;
    flex-basis: 310px;
    margin-right: 125px;

    p {
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        color: $gray-4;
        opacity: 0.85;
        margin-bottom: 24px;
    }
}

.social-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.social-link {
    margin-right: 16px;
    margin-bottom: 40px;

    &:hover path {
        fill: $brand-secondary;
    }

    &:active path {
        fill: $brand-secondary-dark;
    }
}

.footer-links {
    display: flex;
    justify-content: space-between;
    gap: 68px;
    margin-bottom: 10px;
}

.footer-links-item {

    a {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $white-basic;
        white-space: nowrap;

        &:hover {
            color: $brand-secondary;
        }

        &:active {
            color: $brand-secondary-dark;
        }
    }

    &.contacts a {
        white-space: normal;
    }
}

.links-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: $white-basic;
    opacity: 0.5;
    margin-bottom: 24px;
}



@media (max-width: 1290px) {
    .facilities-item {
        margin-right: 50px;
    }

    // .reviews-slider {
    //     width: 100%;
    // }

    .footer-links {
        gap: 55px;
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 992px;
    }

    .header {
        align-items: start;

        .btns {
            flex-direction: column;
        }
    }
    
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }

    .navbar-expand-lg {
        .navbar-toggle {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .navbar-nav {
            text-align: right;
            align-items: flex-end;
            margin-right: 0;

            .nav-item {
                width: 100%;
            }

            .nav-link {
                padding-right: 0.5rem;
                padding-left: 0.5rem;
            }
        }
    }

    .introducing {
        grid-template-columns: 1.5fr 1fr;
    }

    .introducing-slider {
        .slide:last-child img {
            width: 100%;
            height: auto;
        }
    }

    .why-frispes {
        flex-direction: column;
    }

    .reason,
    .infographic {
        width: 100%;
    }

    .infographic {
        display: flex;
        justify-content: center;
    }

    .facilities-item {
        margin-right: 40px;
        font-size: 18px;
        line-height: 24px;
        padding: 20px;
    }

    .news-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .about {
        margin-right: 40px;
    }

    .links-title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 14px;
    }

    .footer .container {
        align-items: baseline;
    }

    .footer-links {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .footer-links-item a {
        font-size: 14px;
        line-height: 18px;
    }

    .footer {
        padding: 40px 0 60px 0;
    }
}


@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }

    section {
        margin-bottom: 82px;
    }

    .header {
        margin-top: 20px;
        margin-bottom: 40px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(16, 55, 92, 0.3);
    }

    .spaces-about {
        display: flex;
        flex-direction: column;
    }

    .facilities-item {
        margin-right: 10px;
        font-size: 14px;
        line-height: 16px;
        padding: 15px;
    }

    .gallery .swiper-slide-active img {
        height: 400px;
    }

    .reviews {
        margin-bottom: 82px;
    }

    .footer .container {
        flex-direction: column;
    }

    .about {
        flex-basis: auto;
        margin-right: 0;
        margin-bottom: 60px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 576px;
    }

    .section-title,
    p,
    .frispes-users p {
        font-size: 16px;
        line-height: 24px;
    }

    .section-subtitle,
    .spaces-about .spaces-title,
    .users-title {
        font-size: 35px;
        line-height: 47px;
    }

    .spaces-about p {
        font-size: 16px;
        line-height: 24px;
    }

    .introducing {
        display: flex;
        flex-direction: column;
        text-align: center;

        p {
            order: 2;
            font-size: 14px;
            line-height: 20px;
        }
    }

    .main-title {
        font-size: 37px;
        line-height: 47px;
        order: 1;
    }

    .infographic-list {
        column-gap: 40px;
    }

    .infographic-item {
        margin-bottom: 40px;

        .label {
            font-size: 14px;
            line-height: 18px;
        }
    }

    .questions .section-subtitle {
        text-align: left;
    }

    .question-list {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .question-item {
        // margin-right: 30px;

        // &::after {
        //     width: 48px;
        //     height: 48px;
        //     top: calc(50% - 24px);
        //     left: calc(100% - 24px);
        //     transform: rotate(270deg);
        // }
    }

    .news-main {
        padding-left: 0;
        padding-top: 300px;

        &::after {
            width: 100%;
            height: 50%;
            background-position: top;
        }

        &-title {
            margin-top: 15px;
        }
    }
}

@media (max-width: 460px) {
    .container {
        max-width: 460px;
    }

    .infographic-item .numbers {
        font-size: 22px;
        line-height: 25px;
    }

    .facilities-item {
        padding: 10px;
    }

    .news-list {
        display: flex;
        flex-direction: column;
    }
}